<html>
<head>
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<link rel="stylesheet" href="bootstrapmincss.css" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="fontawesomemin.css">
<!--<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">-->
<link rel="stylesheet" href="newsfeed.css">
<link rel="stylesheet" href="posts.css">
<script src="newsfeed.js"></script>
<link rel="stylesheet" href="userprofile.css">
<title>Eco Change</title>
<link rel="icon" href="planet_earth.png" type="image/icon type">

</head>
<!------ Include the above in your HEAD tag ---------->
<body>
   <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="/newsfeed" id="brandname">
                        EcoChange <img id="logo"src="planet_earth.png"/>
                    </a>
                </li>
                <div id="profilename">{{username}}<img id="onlinelogo" src="profileonline.png"/></div>
                <li>
                    <a href="/newsfeed"> <img id="sidelogo" src="sidepanel_message.png"/> NewsFeed</a>
                </li>
                <li>
                    <a href="/makepost"><img id="sidelogo" src="article.png"/>Make Post</a>
                </li>

                <li>
                    <a href="/progress"> <img id="sidelogo" src="sidepanel_progress.png"/> Progress</a>
                </li>
                
                <li>
                    <a href="/userprofile"><img id="sidelogo" src="sidepanel_profile.png"/> Profile</a>
                </li>
               
                <li onclick="logout()">
                    <a href="/logout"> <img id="sidelogo" src="sidepanel_logout.png"/> Logout</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <a class="btn btn-default" id="menu-toggle" onclick="mytoggle()"><img id="logo" src="hamburger.png"/></a>

                        <div class="em-background-box text-white content">
                            <div class="container-fluid">
                              <div class="text-center em-background-box-content">
                          
                                <h1 class="thin">{{username}}</h1>
                          
                                <div class="row">
                                  <div class="col-md-10 col-md-offset-1">
                                    <div class="semi-well-dk em-background-box-actions">
                                      <div class="row">
                                          <h4>
                                            <a class="tip" title="Option">
                                                <img  id="logo"src="gmail.png">
                                            </a>
                                            <span class="thin">{{email}}</span>
                                            </h4>
                        
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>                    
                        
                        
                        <!-- post content-->
                        {{#each list}}
                        <div class="container bootstrap snippet" id="postbyuser">
                            <div class="col-sm-8">
                                <div class="panel panel-white post panel-shadow">
                                    <div class="post-heading">
                                        <div class="pull-left meta">
                                            <div class="title h5">
                                                <a ><b>{{this.username}}</b></a>
                                                made a post.
                                            </div>
                                            <h6 class="text-muted time">{{this.time}}</h6>
                                        </div>
                                    </div> 
                                    <div class="post-description"> 
                                        <p>{{this.content}}</p>
                                    </div>
                                </div>
                            </div>
        </div>
        {{/each}}


                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->
</body>
     <!-- Menu Toggle Script -->
    <script>
    //$("#menu-toggle").click(function(e) {
      //  e.preventDefault();
       // $("#wrapper").toggleClass("toggled");
    //});
    </script>

</html>